# Xcode
build/
DerivedData/
*.xcuserstate
*.xcscmblueprint
xcuserdata/

# Swift Package Manager
.build/
Packages/
Package.resolved

# macOS
.DS_Store
.AppleDouble
.LSOverride

# App packaging
*.ipa
*.dSYM.zip
*.dSYM

# Secrets
.env
*.p12
*.mobileprovision
